@use "../base";

.nav {
    &__logo {
        display: block;
        margin: 2rem auto 2rem auto;
        width: clamp(150px, 50%, 400px);
    }

    @include base.lg {
        &__logo {
        margin: 3rem 0 4rem 2rem;
        }
    }
}