//colors variable

:root {
    --background-color: #ffffff;
    --accent-color: #00945f;
    --secondary-color: #ebf7f5;
    --text-color: #888888;
    --alt-text-color: #666666;
    --testimonial-name-text: #29ae8d;
    --button-color: #e97300;
    --button-hover: #00945f;
    --button-text: #ffffff;
    --link-color: #759b24;
    --hr-color: #c2c2c2;
    --divider-color: #c0c0c0;
    --white-text: #ffffff;
}
  